# Data Science Tools and Ecosystem

####  In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
#### We learned about the basic langugages, tools, plateforms used in data science. Some  of the tools are as follows:
* PYthon
* R
* SQL
* Pandas
* Excel

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. Numpy
3. GGPlot

## Data Science Tools


|1|Jupyter Notebook  |
|------|------------|
| 2 |Excel |
|------|------------|
| 3 | Tableau |
|------|------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hours = 200//60
hours

3

## Author
Imran Khan